# Range

In [16]:
# To find even num in given range
for item in range(1,101):
    if item%2==0:
        print(item)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [14]:
list(range(0,11))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
total=0
for item in range(0,101):
    total=item+total
print(total)

5050

In [10]:
#multiple of 7 from 0 to 100
for item in range(0,101,7):     #step size 7 taken in range
    print(item)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [11]:
# sum of multiple of 7 from 0 to 100
total=0
for item in range(0,101,7):   #step size 7 taken in range
    total=item+total
print(total)

735

# ZIP

In [19]:
# zipping indexwise positions into tuple
my_list1=[1,2,3]
my_list2=["a","b","c","d"]
for item in zip(my_list1,my_list2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [21]:
my_list1=[1,2,3,8]
my_list2=[5,6,3,8]
for i,j in zip(my_list1,my_list2):
    if i==j:
        result=i+j
        print(result)

6
16

In [22]:
2 in [1,2,4,3]

True

In [23]:
my_list=[10,20,30,40]
min(my_list)

10

# RANDOM

In [26]:
from random import shuffle   # to shuffle
my_list=[1,2,3,4,5,6,7,8]
shuffle(my_list)
my_list

[3, 1, 6, 4, 2, 7, 5, 8]

In [30]:
from random import randint  # to get random integer
randint(0,100)

41