# java script object notation

In [1]:
{"employee":[{"name":"pri",
             "salary":2000,
             "loction":"bglr"},
            {"name" : "SRK",
             "salary" : 24000,
             "location" : " gkk"}]}

{'employee': [{'name': 'pri', 'salary': 2000, 'loction': 'bglr'},
  {'name': 'SRK', 'salary': 24000, 'location': ' gkk'}]}

# LOADS DUMP LOAD

In [5]:
d='''{"employee":[{"name":"pri",
             "salary":2000,
             "loction":"bglr"},
            {"name" : "SRK",
             "salary" : 24000,
             "location" : " gkk"}]}'''

In [6]:
import json

In [7]:
data=json.loads(d)

In [15]:
for i in data["employee"]:
    print (i)
    print (type(i))

{'name': 'pri', 'salary': 2000, 'loction': 'bglr'}
<class 'dict'>
{'name': 'SRK', 'salary': 24000, 'location': ' gkk'}
<class 'dict'>

In [14]:
for i in data["employee"]:
    print (i["name"])

pri
SRK

In [19]:
url="https://api.trademe.co.nz/v1/Categories/MotorBikes.json"

In [20]:
import json

In [21]:
from urllib.request import urlopen

In [23]:
data=urlopen(url)
result=json.loads(data.read())

In [24]:
result

{'Name': 'Motorbikes',
 'Number': '0001-0026-1255-',
 'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes',
 'Subcategories': [{'Name': 'Classic & vintage',
   'Number': '0001-0026-1255-2913-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Classic-vintage',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Cruiser',
   'Number': '0001-0026-1255-2508-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Cruiser',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Dirt bikes',
   'Number': '0001-0026-1255-2911-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Dirt-bikes',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Dual purpose',
   'Number': '0001-0026-1255-2506-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Dual-purpose',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Pocket & pit bikes',
   'Number': '0001-0026-1255-3443-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Pocket-pit-bikes',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Quads & ATVs',
   'Number': '0001-0026-1255-2912-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Quads-ATVs',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Scooters',
   'Number': '0001-0026-1255-3909-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Scooters',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Sports',
   'Number': '0001-0026-1255-2509-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Sports',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Tourers',
   'Number': '0001-0026-1255-4636-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Tourers',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Other',
   'Number': '0001-0026-1255-1286-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Other',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True}],
 'HasClassifieds': True,
 'AreaOfBusiness': 3,
 'CanHaveSecondCategory': True,
 'IsLeaf': False}

In [53]:
with open("motorbike.json","w") as f :
    json.dump(result,f)

In [28]:
with open("motorbike.json") as f:
    a=json.load(f)

In [44]:
a

{'Name': 'Motorbikes',
 'Number': '0001-0026-1255-',
 'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes',
 'Subcategories': [{'Name': 'Classic & vintage',
   'Number': '0001-0026-1255-2913-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Classic-vintage',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Cruiser',
   'Number': '0001-0026-1255-2508-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Cruiser',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Dirt bikes',
   'Number': '0001-0026-1255-2911-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Dirt-bikes',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Dual purpose',
   'Number': '0001-0026-1255-2506-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Dual-purpose',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Pocket & pit bikes',
   'Number': '0001-0026-1255-3443-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Pocket-pit-bikes',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Quads & ATVs',
   'Number': '0001-0026-1255-2912-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Quads-ATVs',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Scooters',
   'Number': '0001-0026-1255-3909-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Scooters',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Sports',
   'Number': '0001-0026-1255-2509-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Sports',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Tourers',
   'Number': '0001-0026-1255-4636-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Tourers',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True},
  {'Name': 'Other',
   'Number': '0001-0026-1255-1286-',
   'Path': '/Trade-Me-Motors/Motorbikes/Motorbikes/Other',
   'HasClassifieds': True,
   'AreaOfBusiness': 3,
   'IsLeaf': True}],
 'HasClassifieds': True,
 'AreaOfBusiness': 3,
 'CanHaveSecondCategory': True,
 'IsLeaf': False}

In [50]:
for i in a['Subcategories']:
    print(i["Name"])

Classic & vintage
Cruiser
Dirt bikes
Dual purpose
Pocket & pit bikes
Quads & ATVs
Scooters
Sports
Tourers
Other

In [52]:
len(a['Subcategories'])

10

In [51]:
json_string = """
{
    "person": {
        "name": "John",
        "age": 30,
        "city": "New York",
        "pets": [
            {
                "type": "dog",
                "name": "Rufus"
            },
            {
                "type": "cat",
                "name": "Fluffy"
            }
        ]
    }
}
"""

In [31]:
import json

In [33]:
data=json.loads(json_string)

In [34]:
data

{'person': {'name': 'John',
  'age': 30,
  'city': 'New York',
  'pets': [{'type': 'dog', 'name': 'Rufus'},
   {'type': 'cat', 'name': 'Fluffy'}]}}

In [42]:
for i in data["person"]["pets"]:
       print(i["type"])

dog
cat

In [43]:
import json

# Sample nested JSON
json_string = """
{
    "person": {
        "name": "John",
        "age": 30,
        "city": "New York",
        "pets": [
            {
                "type": "dog",
                "name": "Rufus"
            },
            {
                "type": "cat",
                "name": "Fluffy"
            }
        ]
    }
}
"""

# Load the JSON string into a Python dictionary
data = json.loads(json_string)

# Extract the name and age of the person
name = data['person']['name']
age = data['person']['age']
print(f"Name: {name}, Age: {age}")

# Extract the name of the first pet
first_pet_name = data['person']['pets'][0]['name']
print(f"First Pet Name: {first_pet_name}")

Name: John, Age: 30
First Pet Name: Rufus